@import url(variables.css);
@import url(ui.css);

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: var(--background-primary);
    color: var(--text-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    /* align-content: center; */
    justify-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    height: 50px;
    margin: 0;
}

ul li {
    font-size: 1.25em;
    height: 65px;
    width: 300px;
    text-align: center;
    align-content: center;
    background: var(--background-secondary);
    border-radius: 3px;
    margin: 0;
    --border:6px;
    
}

/* Score Button */
ul li:nth-child(1){
    background: var(--btn-score-bg);
    border: solid var(--border) var(--btn-score-border);
}

ul li:nth-child(1):hover{
    background: var(--btn-score-hover);
    border: solid var(--border) var(--btn-score-border-hover);
}
/* Play Button */
ul li:nth-child(2){
    background: var(--btn-play-bg);
    border: solid var(--border) var(--btn-play-border);
}

ul li:nth-child(2):hover{
    background: var(--btn-play-hover);
    border: solid var(--border) var(--btn-play-border-hover);
}

/* Difficulty Button */
ul li:nth-child(3){
    background: var(--btn-diff-bg);
    border: solid var(--border) var(--btn-diff-border);
}

ul li:nth-child(3):hover{
    background: var(--btn-diff-hover);
    border: solid var(--border) var(--btn-diff-border-hover);
}

.action-buttons{
    position: absolute;
    width: 100%;
    bottom: 100px;
}

/* Main*/
.main{
    height: 400px;
    background: var(--background-secondary);

    position: absolute;
    width: 100%;
    top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;    
}

.text-box{
    --text-dimension:100px;
    height: var(--text-dimension);
    width: var(--text-dimension);
    color: var(--text-secondary);
    background: var(--text-active);

    font-size: 4em;

    text-align: center;
    align-content: center;
    justify-items: center;
    border-radius: 6px;
}